.c_all4 {
    background-color: rgb(71, 69, 69);
    padding-top: 5%;
    padding-bottom: 5%;
}
.c {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    background: rgb(56, 54, 54);
    color: white;
    padding: 10px;
    transition: 1s;
    border-radius: 25px;
    border: 2px #03a9f4 solid;
}

.c .btn {
    transition: 1s;
    margin-left: 35%;
    border: 2px green solid;
    color: white;
    border-radius: 25px;
}

.c .btn:hover {
    width: 80px;
    border: 2px rgb(9, 230, 9) solid;
    margin-left: 30%;
}

.c h2 {
    font-size: 25px;
    color: #03a9f4;
}

.c h4 {
    font-size: 15px;
}

.c img {
    align-items: center;
    height: 70px;
    justify-content: center;
    margin-left: 33%;
    border-radius: 50px;
    border: 2px white solid;
}

.c:hover {
    background: linear-gradient(#15afaf, #585858);
    color: white;
    border: 2px white solid;
}
